*{
    font-family: serif;
}
body {
	margin-top: none;
	background-image: url("code.jpg");
	background-size: cover;
	margin: auto;
	text-align: center;
}
img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
h1 {
	background-color: gray;
	color: red;
	-webkit-text-stroke: 2px black;
}
#fileSearchDiv {
	margin: auto;
}
label {
	padding-left: 15px;
	padding-right: 15px;
	background-color: gray;
	
	font-size: x-large;
	font-style: bold;
}
#inputBox {
	margin: auto;
	font-size: x-large;
}
#h2-or {
	background-color: gray;
}
#fileSearch {
	background-color: gray;
}
#h2-title {
	margin: auto;
	width: 500px;
	background-color: gray;
	
}
#pyButton {
	font-size: large;
	display: inline-block;
}
p {
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
}
#cppButton {
	font-size: large;
	display: inline-block;
}