*{
    font-family: serif;
}
body,html {

	margin: auto;
	text-align: center;
	background-color: grey;
	height: 100%;
}

#fileSearchDiv{

	background-image: url('code3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-color:black;
}


h1 {
	
	color: black;
	margin-top: 0px;
	padding: 10px;
	font-size: 60px;
	background-color: white;
	opacity: .5;

}


h2 {

	margin-top: 30px;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 35px;
	font-weight: bold;
	color: lightgray;

}

label{

	color: white;

}


#inputBox {
	margin: 27px;
	font-size: x-large;
	border:2px ;color:black;
	box-shadow: inset;
	resize: none;
}

#h2-or {

	color: white;
	text-align: center;
	margin:5px;
	padding:10px;
}

#fileSearch {
	background-color: white;

}

#h2-title {
	margin: 10px;
	color: lightyellow;
}

#pyButton {
	font-size: large;
	display: inline-block;
}

p {
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	color: antiquewhite;
}
#cppButton {
	font-size: large;
	display: inline-block;
}